body{
    background-color: #050333;
}

nav {
    padding: 1px 10px;
    color: white;
}

.Landing-page nav ul {
    display:flex;
    list-style-type: none;
    justify-content: space-between;
}

.Intro-container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Intro-text{
    color: white;
    position: absolute;
    text-align: center;
}

.Intro-text button{
    border-radius: 40%;
    color: #23A1FF;
    padding: 20px 50px;
}

.Info-container{
    color: white;
}